.events{
   background-color: aqua;
   width: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 10rem;
   font-size: 1rem;
}
#root{
  margin: auto;
}